/**
 * 	Dance Station ALPHA 0.9.7
 *  Date created: 08.02.2014
 *  Copryight: Iosua Vladescu (2014)
 */



/** Imports **/

@import url(http://weloveiconfonts.com/api/?family=entypo|maki);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/** Declaration of Fonts and Styles **/
	
@font-face
{
	font-family: Webly;
	src: url(fonts/weblysleekuil.ttf);
}

@font-face
{
	font-family: WeblySemiBold;
	src: url(fonts/weblysleekusb.ttf);
}

@font-face
{
	font-family: WeblySL;
	src: url(fonts/weblysleekuisl.ttf);
}

.themefont {
	font-family: 'Lato', sans-serif;
}

/** OLD OLD OLD 
.themefont {
	font-family: 'Webly', sans-serif;
}

.themefont_semibold {
	font-family: 'WeblySemiBold', sans-serif;
}
**/

/** General Multi-Purpose Classes **/

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin:0;
	background-color:rgba(249,249,249,1);
	font-family:"Webly";
}

.margin_reset {
	margin:0;
}

.tagline {
	width:100%;
	background-color:rgba(249,249,249,0.9);
	position:fixed;
}

.tagline_small {
	height:50px;
	margin-top:-1px;
}

.song_list {
	color:#000;
	font-size:20px;
	padding-top:60px;
}

.song_slot {
	height:75px;
	width:100%;
	margin-top:1px;
	margin-bottom:2px;
}

.song_artist {
	font-size:19px;
	margin-top:-7px;
}

.song_title {
	font-size:22px;
	font-family:"WeblySL";
}

.song_duration {
	font-size:20px;
	margin-top:9px;
}

/* #Tablet
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/*  #Mobile (Portrait)
================================================== */

@media only screen and (max-width: 767px) {
	
}

/* #Mobile (Landscape)
================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}